html {
  @include UiTypographyParagraph();
  font-family: 'Roboto', $font-fallback;
}

html, body, #app {
  height: 100%;
  overscroll-behavior-y: none;
}

#app {
  overflow: auto;
  @include UiThemeElement() {
    color: UiColor(shade-800);
    background-color: UiColor(shade-100);
  }
}

a:not(.ui-link-reset) {
  @include UiTypographyLink();
}
