html {
  @include UiTypographyParagraph();
  font-family: 'Roboto', $font-fallback;
  color: UiColor(shade-800);
}

html, body, #app {
  height: 100%;
  overscroll-behavior-y: none;
}

a:not(.ui-link-reset) {
  @include UiTypographyLink();
}
