.ui-overlay {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  overscroll-behavior: contain;

  @include UiTheme() {
    background-color: rgba(UiColor(shade-700), 0.4);
  }
}
