$transitions: (
  "bounce": cubic-bezier(.35, 1, 0.5, 1.25),
  "default": ease-in-out,
) !default;

@function UiTransition($name: 'default') {
  @return map_get($transitions, #{$name});
}

@mixin UiInlineAnimation($duration) {
  $name: secura-inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}
