// MAPS

$font-weight: (
  "bold": 700,
  "semibold": 500,
  "regular": 400,
) !default;

// HEADINGS

@mixin UiTypographyHeading1($include-mobile: true) {
  font-size: 32px;
  line-height: 38px;
  font-weight: map_get($font-weight, semibold);

  @if ($include-mobile) {
    @include UiMediaMobile() {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

@mixin UiTypographyHeading2($include-mobile: true) {
  font-size: 25px;
  line-height: 30px;
  font-weight: map_get($font-weight, semibold);

  @if ($include-mobile) {
    @include UiMediaMobile() {
      font-size: 23px;
      line-height: 28px;
    }
  }
}

@mixin UiTypographyHeading3($include-mobile: true) {
  font-size: 23px;
  line-height: 28px;
  font-weight: map_get($font-weight, semibold);

  @if ($include-mobile) {
    @include UiMediaMobile() {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@mixin UiTypographyHeading4($include-mobile: true) {
  font-size: 20px;
  line-height: 24px;
  font-weight: map_get($font-weight, semibold);

  @if ($include-mobile) {
    @include UiMediaMobile() {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

// PARAGRAPHS

@mixin UiTypographyBody1($include-mobile: true) {
  font-size: 18px;
  line-height: 22px;
  font-weight: map_get($font-weight, semibold);

  @if ($include-mobile) {
    @include UiMediaMobile() {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

@mixin UiTypographyBody2($include-mobile: true) {
  font-size: 16px;
  line-height: 18px;
  font-weight: map_get($font-weight, semibold);

  @if ($include-mobile) {
    @include UiMediaMobile() {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@mixin UiTypographyBodyMid($include-mobile: true) {
  font-size: 14px;
  line-height: 16px;
  font-weight: map_get($font-weight, semibold);

  @if ($include-mobile) {
    @include UiMediaMobile() {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

@mixin UiTypographyBodySmall($include-mobile: true) {
  font-size: 12px;
  line-height: 14px;
  font-weight: map_get($font-weight, regular);

  @if ($include-mobile) {
    @include UiMediaMobile() {
      font-size: 10px;
      line-height: 12px;
    }
  }
}

@mixin UiTypographyParagraph($include-mobile: true) {
  font-size: 16px;
  line-height: 18px;
  font-weight: map_get($font-weight, regular);

  @include UiMediaMobile() {
    font-size: 14px;
    line-height: 16px;
  }
}

// INTERACTIVE ELEMENTS

@mixin UiTypographyLink {
  @include UiTheme() {
    color: UiColor(link);
  }
  text-decoration: none;

  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}


@mixin UiTypographyModifyMonospace {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: map_get($font-weight, bold);
}
